.certificate {
    background: #FFF;
    padding: 0;
    width: 100%;
    
    color: #3d3d55;
    overflow: hidden;
}

.container--cert {
    margin: auto;
    width: 100%;
}

.certificate__top {
    position: relative;
    padding: 100px 60px 60px;
    height: 620px;
}

.certificate__logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
}

.certificate__icon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
}

.certificate__awarded {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
}
.certificate__awarded strong {
    display: block;
}

.header--stroke.certificate__person {
    margin-bottom: 30px;
}

.certificate__badge {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 60px auto 0;
}

.certificate__badge > img {
    display: block;
    margin: 30px auto;
    width: 100%;
    height: 100%;
}

.certificate__badge:before {
    content: "";
    display: block;
    position: absolute;
    background: url(/img/certificate_bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 220%;
    height: 220%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    /*z-index: -1;*/
    opacity: .4;
}

.certificate__hr {
    background: #f0f0f2 url(/img/certificate_hr.svg);
    background-size: 1050px;
    background-position: bottom;
    height: 38px;
    border: 0;
    margin: 0;
    fill: #0083f5;
    margin-top: -32px;
}

.certificate__bottom {
    padding: 10px;
    background: #f0f0f2;
}


.table--understand {
    width: 100%;
    border-spacing: 10px;
    border-collapse: separate;
    
}

.table--understand th {
    white-space: nowrap;
}
.table--understand td {
    background: #FFF;
    width: 140px;
    color: #9898ab;
    padding: 10px;
    vertical-align: top;
}

.table--understand strong {
    display: block;
}


.table--understand .active {
    background-color: rgb(140, 182, 109);
    color: #000;
}

.header--stroke {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.header--stroke:before, .header--stroke:after {
    content: "";
    display: block;
    width: 40px;
    height: 1px;
    background: #84849d;
    opacity: .5;
    position: absolute;
    top: 49%;
}


.header--stroke:before {
    left: -55px;
}

.header--stroke:after {
    right: -55px;
}


span[data-clipboard] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    background: #FFF;
    font-size: 14px;
    cursor: pointer;
}

.what-level {
    padding: 30px 50px;
    background: #FFF;
}


.btn--bg {
    background: #3d3d55;
    color: #FFF !important;
    border-radius: 32px;
    padding: 10px 20px !important;
}

.score-box {
    padding: 40px;
}

.score-box em {
    font-style: normal;
    font-size: 20px;
    color: rgb(140, 182, 109);
}

.score-box__result {
    margin-bottom: 40px;
}
.score-box__result h3 {
    /*white-space: nowrap;*/
}

@media (min-width: 992px) {
    .certificate {
        margin: 20px auto 20px;
        box-shadow: 0 5px 15px 0 rgba(61,61,85,.15);
    }

    .certificate {
        max-width: 940px;
    }
    .container--cert {
        max-width: 940px;
    }

    .certificate__bottom {
        padding: 60px;
    }

}

@media screen and (min-width: 768px) {
    .certificate__badge {
        position: relative;
        width: 280px;
        height: 280px;
    }
    .certificate__logo {
        left: 50px;
        top: 50px;
        width: 60px;
        height: 60px;
    }

    .certificate__icon {
        right: 50px;
        top: 50px;
        width: 40px;
        height: 40px;
    }

    .certificate__top {
        height: 780px;
    }

    .score-box {
        padding: 20px;
    }

}

.copylink-copy-message {
    position: absolute;
    background: #e99e42;
    color: #fff;
    padding: 10px 19px;
    border-radius: 20px;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    /*top: 0;*/
}

.copylink-copy-message--show {
    animation: show-tooltip 1.5s;
}


@keyframes show-tooltip{
    0%{opacity:0;bottom:100%}
    30%{opacity:1;bottom:calc(100% + 15px)}
    80%{opacity:1;bottom:calc(100% + 15px)}
    to{opacity:0;bottom:calc(100% + 5px)}
}
