@import "fonts.css";
@import "elements.css";
@import "magnific-popup.css";
@import "page-header-test.css";
@import "choose-package.css";
@import "get-cert.css";
@import "add-to-linkedin.css";
@import "hero.css";
@import "certificate.css";
@import "referrals.css";
@import "footer.css";

.video-link {
    position: relative;
    display: block;
}

.video-link__img {
    width: 100%;
}

.video-link > .fa-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {
    display: inline-block;
    border: 2px solid #535961;
    color: #535961;
    text-transform: uppercase;
    padding: 8px 25px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-decoration: none !important;
}

.button:hover {
    background: black!important;
    border: 2px solid #4b4e53!important;
    color: #FFF!important;
}

.navbar {
    height: 85px;
    background: #FFF;
    border-bottom: 1px solid #e0e0e0;
}

.navbar-brand {
    color: #4b4e53 !important;
    font-weight: normal;
    font-size: 45px;
    height: 55px;
}

.navbar-brand > img {
    width: auto;
    height: 100%;
    font-size: 16px;
}

.navbar--submenu {
    display: flex;
    align-items: center;
}

.nav-item--student-login > .nav-link {
    background: #3d3d55;
    color: #FFF !important;
    border-radius: 32px;
    padding: 10px 20px !important;
}


.collapse.show {
    /*display: block;*/
}

.navbar-collapse {
    z-index: 999;
    background: #FFF;
    padding: 20px;
}

main.container {
    min-height: calc(100vh - 85px - 50px - 100px - 51px);
}


.hero-abstract {
    display: flex;
    height: 255px;
    padding: 0 0 40px;

    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.hero-abstract h1 {
    margin: auto;
    font-size: 45px;
    text-align: center;
    color: #FFF;
}

.bg-abstract {
    position: relative;
}

.bg-abstract--blue {
    background-image: linear-gradient(282deg,#4999f8,#456ba2);
}

.bg-abstrack--green {
    background-image: linear-gradient(282deg,#15d0a0,#1a997d);
}

.bg-abstract:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    mix-blend-mode: multiply;
    background-image: url(/img/abstract-bg.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}
