.lal-footer-copyright {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.lal-footer-copyright > a {
    margin-right: 10px;
}

.lal-social-dark {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.lal-social-dark > li {
    margin-left: 10px;
}
.lal-social-dark i {
    color: #adb5bd;
}

.lal-social-dark a {
    vertical-align: middle;
    line-height: 36px;
}

.page-footer {
    background: #FFF;
}

.page-footer {
    border-top: 1px solid #dee2e6;
    padding: 20px 0;
}

@media screen and (min-width: 768px) {
    .lal-footer-copyright__text {
        line-height: 36px;
    }    
}
.lal-footer-copyright__text {
    vertical-align: middle;
}
