.lal-footer-copyright {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.lal-footer-copyright > a {
    margin-right: 10px;
}

.lal-social-dark {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

.lal-social-dark > li {
    margin-left: 10px;
}
.lal-social-dark i {
    color: #adb5bd;
}

.page-footer {
    background: #FFF;
    border-top: 1px solid #dee2e6;
    padding: 20px 0;
}
