{{ if not ( eq .Params.navbar "disable" ) }}

<div class="bg-white">
    <div class="container">
        <div class="row justify-content-center">
<nav class="navbar navbar-expand-lg navbar-light" data-spy="affix" data-offset-top="0">

  <a class="navbar-brand" href='/'>
      <img src="/img/logo.svg" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mt-4 mb-4 d-block d-md-none">
          <button type="button" class="close fa-3x text-danger" aria-label="Close" data-toggle="collapse" data-target="#navbarSupportedContent">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4>Menu</h4>
      </div>
      
      
    <ul class="navbar-nav ml-auto navbar--submenu">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="nav-item {{if eq $.URL .URL }} active{{ end }} nav-item--{{ .Identifier }}">
{{ if findRE "^javascript:" .URL }}
        <a class="nav-link" href="#" {{ printf "onclick=%q" ( replaceRE "^javascript:(.*)" "$1;return false;" .URL) | safeHTMLAttr }}>{{ .Name }}</a>
{{ else }}
        <a class="nav-link" {{ if findRE "^http" .URL }}target="_blank"{{end}} {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Name }}</a>
{{ end }}
      </li>
      {{ end }}
    </ul>

  </div>

</nav>
        </div>
    </div>
</div>

{{ end }}
