{{ if not ( eq .Params.footer "disable" ) }}

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md justify-content-center">

        <div class="lal-footer-copyright d-flex justify-content-center justify-content-md-start   align-items-center">
          <a class="lal-logo-dark align-self-start align-self-md-center d-flex justify-content-center d-inline-block" href="/">
            <img width="30px" height="30px" src="/img/logo.svg" />
          </a>
          <span class="lal-footer-copyright__text">
            <span class="d-block d-md-inline">Copyright © 2019</span>
            <span class="d-block d-md-inline">LAL Language</span>
            <span class="d-block d-md-inline">Centres</span>
          </span>
        </div>
  
      </div>
      <div class="col-12 col-md-2 justify-md-content-end row d-none d-md-flex">
        
        <ul class="lal-social-dark">
          <li class="item">
            <a class="link" href="https://www.facebook.com/lalschools/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="item">
            <a class="link" href="https://twitter.com/lalschools" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="item">
            <a class="link" href="http://www.youtube.com/lalschools" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="item">
            <a class="link" href="http://www.instagram.com/lalschools" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</footer>

{{ end }}