{{ if not ( eq .Params.footer "disable" ) }}

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md justify-content-center">

        <div class="lal-footer-copyright d-flex justify-content-center justify-content-md-start align-items-center">
          <a class="lal-logo-dark align-self-start align-self-md-center d-flex justify-content-center d-inline-block" href="/">
            <img width="30px" height="30px" src="/img/logo.svg" />
          </a>
          <span class="lal-footer-copyright__text">
            <span class="d-block d-md-inline">Copyright © 2019</span>
            <span class="d-block d-md-inline">Bay Language </span>
            <span class="d-block d-md-inline">Institute</span>
          </span>
        </div>
  
      </div>
      <div class="col-12 col-md-auto justify-md-content-end row d-none d-md-flex mr-0">
        
        <ul class="lal-social-dark align-self-end">
          <li class="item">
            <a class="link" href="https://www.facebook.com/BayLanguage/" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="item">
            <a class="link" href="https://twitter.com/@Bli_SA" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="item">
            <a class="link" href="https://www.youtube.com/channel/UCfVcwbCc_Ssxu7yUPZs2wsA" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="item">
            <a class="link" href="https://www.instagram.com/baylanguage/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</footer>

<style>
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
  .spinner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #FFF;
    z-index: 9999;
  }
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }
</style>
<script>
    var bg = document.createElement('div');
    bg.classList.add('spinner-bg');
    document.body.appendChild(bg);

    var div = document.createElement('div');
    div.classList.add('spinner');
    bg.appendChild(div);

    window.onload = function() {
        bg.parentElement.removeChild(bg);
    };
</script>

{{ end }}