{{ define "main"}}
<main id="main">
    <div class="error-message">
        <h1>Page Not Found 😟</h1>
        <p>
            If this keeps happening, contact us at <a href="mailto:service@maltzenglish.com" target="_top">service@maltzenglish.com</a>
            <br>
            <a href="{{ "/" | relURL }}">Click here to go home</a>.
        </p>
    </div>
</main>
<style>
    .error-message {
        text-align: center;
        width: 100%;
        max-width: 800px;
        height: calc(100vh - 85px - 77px); /* 101px */
        margin: 0 auto;
        padding: 17% 20px;
    }

    .error-message h1 {
        font-size: 36px;
        font-weight: 400;
        margin: 24px;
        text-align: center;
    }

    .error-message p {
        font-size: 24px;
        font-weight: 300;
        line-height: 40px;
    }

    .error-message a:link, .error-message a:visited {
        text-decoration: underline !important;
        font-weight: 300 !important;
    }
</style>
{{ end }}
