<div class="add-to-linkedin">
    <div class="add-to-linkedin__bg hero-abstract bg-abstract bg-abstract--blue">
        <h1>Add to LinkedIn Profile</h1>
    </div>
    <div class="container add-to-linkedin__box">
        <div class="row justify-content-md-center">
            <div class="col-md-6 col-12 add-to-linkedin__img">
                <img class="w-100 mb-3" src="img0.jpg"/>
            </div>
            <div class="col-md-6 col-12">
                <h2>Add your LAL SET Certificate to your LinkedIn Profile</h2>
                
                <p>
                With completion of your LAL SET, you will receive a personalized, official English certificate (view example).
                You can easily add your LAL SET Certificate URL to your LinkedIn profile - in 3 easy steps!
                </p>
    
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                        <strong>Step 1:</strong> Take the LAL SET
                    </li>
                    <li>
                        <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                        <strong>Step 2:</strong> Click on “Add-to-Profile” button from the LAL SET Results Page
                    </li>
                    <li>
                        <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                        <strong>Step 3:</strong> Fill out the form!
                    </li>
                    <li>
                        <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                        Follow the detailed steps below
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

{{.Inner}}
