<div class="container certificate">
    <div class="certificate__top">
        <div>
            <img src="/img/logo.svg"/>
        </div>
        <p class="text-center">
            <strong>This to certify that</strong>
        </p>
        <div class="text-center">
            <h2 class="certificate__person header--stroke">John Doe</h2>
        </div>
        <p class="text-center">
            has successfully completed the Certificate and earned English level:
        </p>
        <img class="certificate__badge" src="/img/certificate_badge.png"/>
        <div class="certificate__awarded">
            <strong>Awarded on:</strong>
            8 Jun 2018
        </div>
    </div>
    <hr class="certificate__hr"/>
    <div class="certificate__bottom">
        <h3 class="text-center">Understanding the results</h3>
        <table class="table-responsive table--understand">
            <tr>
                <th>LAL SET</th>
                <td><strong>1-30</strong></td>
                <td><strong>31-40</strong></td>
                <td class="active"><strong>41-50</strong></td>
                <td><strong>51-60</strong></td>
                <td><strong>61-70</strong></td>
                <td><strong>71-100</strong></td>
            </tr>
            <tr>
                <th>CEFR</th>
                <td>
                    <strong>A1</strong>
                    Beginner
                </td>
                <td>
                    <strong>A2</strong>
                    Elementary
                </td>
                <td class="active">
                    <strong>B1</strong>
                    Intermediate
                </td>
                <td>
                    <strong>B2</strong>
                    Upper Intermediate
                </td>
                <td>
                    <strong>C1</strong>
                    Advanced
                </td>
                <td>
                    <strong>C2</strong>
                    Proficient
                </td>
            </tr>
        </table>
        <p class="text-center mt-5 mb-5 ml-5 mr-5">
            The achieved English level is 45/100 on the LAL SET score scale and B1 Intermediate according to the Common European Framework of Reference (CEFR). The LAL SET score is calculated as an average of the reading and listening scores.
        </p>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-5 score-box">
                <div class="row align-items-center score-box__result">
                    <div class="col-auto">
                        <i class="fas fa-3x fa-microphone-alt"></i>
                    </div>
                    <div class="col row align-content-center">
                        <h3>Speaking Section</h3>
                        <div>
                            <em>50/100</em> B1 Intermediate
                        </div>
                    </div>
                </div>
                <p>
                    At this level, it is easy to understand most of the English heard on television, radio or the internet.
                    Also, comprehending job-related language and most of what people say about feelings and events can be done without too much effort.
                </p>
                <ul class="ml-4">
                    <li>Can deal with most situations likely to arise whilst travelling in an area where the language is spoken.</li>
                    <li>Can understand the main points of clear standard speech on familiar matters regularly encountered in work, school, leisure, etc.</li>
                    <li>Can understand the main point of many radio or TV programmes on current affairs or topics of personal interest when the delivery is relatively slow and clear.</li>
                </ul>
            </div>
            <div class="col-12 col-md-5 score-box">
                <div class="row align-items-center score-box__result">
                    <div class="col-auto">
                        <i class="fas fa-3x fa-headphones"></i>
                    </div>
                    <div class="col row align-content-center">
                        <h3>Listening Section</h3>
                        <div>
                            <em>41/100</em> B1 Intermediate
                        </div>
                    </div>
                </div>
                <p>
                    At this level, it is easy to understand most of what is found in English newspapers and internet reports on familiar topics,
                    and comprehend job-related language and most personal written communications about feelings and events without much effort.
                </p>
                <ul class="ml-4">
                    <li>Can understand the main points of clear standard input on familiar matters regularly encountered in work, school, leisure, etc.</li>
                    <li>Can understand texts that consist mainly of high frequency everyday or job-related language.</li>
                    <li>Can understand the description of events, feelings and wishes in personal letters.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container w-50">
    <div class="text-center">
        <h3 class="certificate__person header--stroke mt-5 mb-3">About LAL SET</h3>
        <p class="text-center mb-5">
            The LAL Standard English Test (LAL SET) is the world’s first completely free, online standardized English test for learners of all levels,
            from beginner to advanced. As part of LAL Education First, we draw upon a 50-year legacy of academic excellence,
            having helped more than 20 million people across the world to successfully learn English.
        </p>
    </div>
</div>


<div class="container what-level">
    <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-auto">
            <h3>What is your English level?</h3>
        </div>
        <div class="col-md-auto mt-2 mb-2">
            Get an official LAL SET Certificate
        </div>
        <div class="col-md-auto">
            <a class="btn btn--bg" href="/">LAL Online</a>
        </div>
    </div>
</div>

<div class="container text-center mt-5 mb-5">
    <div>
        <span data-clipboard="https://lalonline.co/cert/h4T3o"><i class="fas fa-2x fa-link"></i></span>
    </div>
    <a href="https://lalonline.co/cert/h4T3o">lalonline.co/cert/h4T3o</a>
</div>


{{.Inner}}

<script src="/js/clipboard.js"></script>
<script src="/js/certificate.js"></script>