<div class="container choose-package">
    <div class="row justify-content-center">
        <div class="choose-package__box choose-package__box--col">
            <h2>
                <i class="fas fa-plane-departure choose-package__icon"></i>
                REGULAR (<font color="#8D1829"><strong>2</strong></font> lessons)
            </h2>
            <h3>
                Improve your level of English proficiency with a personal teacher. 
            </h3>
            <p>
                Recommended if you want to reach the next level according to your own schedule.
            </p>
            <a class="btn btn-package--personal" href="/regular">REGULAR</a>
        </div>
        <div class="choose-package__box choose-package__box--col">
            <h2>
                <i class="fas fa-rocket choose-package__icon"></i>
                INTENSIVE (<font color="#8D1829"><strong>3</strong></font> lessons)
            </h2>
            <h3>
                Quickly improve your level of English proficiency with a personal teacher.
            </h3>
            <p>
                Recommended if you quickly need to reach the next level according to your own schedule.
            </p>
            <a class="btn btn-package--group" href="/intensive">INTENSIVE</a>
        </div>
    </div>
</div>

{{.Inner}}
