<div class="container choose-package">
    <div class="row justify-content-md-center">
        <div class="choose-package__box choose-package__box--col">
            <h2>
                <i class="fas fa-user choose-package__icon"></i>
                Personal Trainer
            </h2>
            <h3>
                Start with a <em>Quick Check</em> of your English skills
            </h3>
            <p>
                Recommended if you quickly want to know your English level or practice for an English
                certification
            </p>
            <a class="btn btn-package--personal" href="/pt">Book now</a>
        </div>
        <div class="choose-package__box choose-package__box--col">
            <h2>
                <i class="fas fa-users choose-package__icon"></i>
                Group (4 students)
            </h2>
            <h3>
                Get your <em>LAL SET Certificate</em> in less than an hour
            </h3>
            <p>
                Recommended if you are preparing for an English exam, want to move abroad or progress in
                your career
            </p>
            <a class="btn btn-package--group" href="/group">Book now</a>
        </div>
    </div>
</div>

{{.Inner}}
