<div class="container choose-package">
    <div class="row justify-content-center">
        <div class="choose-package__box choose-package__box--col">
            <h2>
                <i class="fas fa-user choose-package__icon"></i>
                Personal Trainer
            </h2>
            <h3>
                Improve your level of English proficiency with <em>personal trainer</em> from USA or UK. 
            </h3>
            <p>
                Recommended if you quickly want to reach the next level according to your own schedule.
            </p>
            <a class="btn btn-package--personal" href="/pt">Get started!</a>
        </div>
        <div class="choose-package__box choose-package__box--col">
            <h2>
                <i class="fas fa-users choose-package__icon"></i>
                Group (4 students)
            </h2>
            <h3>
                Study with three other students in a <em>group</em> virtual classroom.
            </h3>
            <p>
		Forming study groups is a very effective strategy for enhancing learning. Groups share unique insights and learn from each other.
            </p>
            <a class="btn btn-package--group" href="/group">Get started!</a>
        </div>
    </div>
</div>

{{.Inner}}
