<div class="page-header-test">
    <div class="page-header-test_bg">
        <div class="page-header-test_bg_img"></div>
        <div class="container">
            <h1>Get Certified at LAL Online and <br />Set Yourself Apart! <br /></h1>
            
            <div>
                <a href="//languagepanel.com/lal/callback" target="_blank" class="btn btn--free-eval">
                    Free evaluation
                </a>
            </div>
            <div class="row justify-content-md-center text-center text-md-left">
                <div class="col-md-auto pr-0">
                    <i class="fas fa-3x fa-certificate"></i>
                </div>
                <div class="col col-md-3 mb-3">
                    Certified teaching accredited by the world’s main institutions
                </div>
                <div class="col-md-auto pr-0">
                    <i class="fab fa-3x fa-linkedin"></i>
                </div>
                <div class="col col-md-3">
                     One of LinkedIn’s top ranked certifications
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Why should you study online with LAL school?</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
    <ul class="why-study fa-ul">
        <li>
            <span class="fa-li" ><i class="far fa-check-circle"></i></span>
            <h3>Certify your English for more job opportunities</h3>
            <p>Adding your verified LAL SET Certificate to your profile can get you up to 6 times more views on LinkedIn, the world’s largest professional network.</p>
        </li>
        <li>
            <span class="fa-li" ><i class="far fa-check-circle"></i></span>
            <h3>Get an internationally recognized English certificate</h3>
            <p>LAL SET scores are trusted and used by universities and employers because the test is aligned to internationally approved standards developed by the European Council.</p>
        </li>
        <li>
            <span class="fa-li" ><i class="far fa-check-circle"></i></span>
            <h3>Take multiple tests - at no cost</h3>
            <p>Take our online English test as many times as you need to improve your results for free. The LAL SET is the most convenient and learner-centric English test in the world.</p>
        </li>
    </ul>
    </div>
</div>

{{.Inner}}
