<div class="page-header-test">
    <div class="page-header-test_bg">
        <div class="page-header-test_bg_img"></div>
        <div class="container">
            <h1>Get to know your <font color="#FFBE01">CEFR English level</font><br /> with a certified assessor.<br />Post your certificate on <font color="#FFBE01">LinkedIn.</font></h1>
            
            <div>
                <a href="https://languagepanel.com/mal/callback/" target="_blank" class="btn btn--free-eval"><strong>
                    SCHEDULE YOUR ASSESSMENT</strong>
                </a>
            </div>
            <div class="row justify-content-md-center text-center text-md-left">
                <div class="col-md-auto pr-0">
                    <i class="fas fa-3x fa-certificate"></i>
                </div>
                <div class="col col-md-3 mb-3">
		Certify your English for more job opportunities.
                </div>
                <div class="col-md-auto pr-0">
                    <i class="fab fa-3x fa-linkedin"></i>
                </div>
                <div class="col col-md-3">
                     Your profile can get you up to 6 times more views on LinkedIn.
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Why should you get your Maltz English certificate?</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
    <ul class="why-study fa-ul">
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>Why it's important to know your English level</h3>
		<p>The English level system you use to describe your English skills is usually imposed on you from the outside. An employer, a school, a teacher, or an immigration authority asks you to take a particular English test, so you do, and then you describe your English level using that test's system. Depending on your goals and location, you are likely to be more familiar with one system of English levels than another. For example, if you're applying to university in the USA, you probably know what a TOEFL score of 100 means, whereas if you're trying to get a visa to move to the UK, you're more likely to be familiar with the CEFR level B1.</p>
        </li><br />
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>Certify your English for more job opportunities</h3>
            <p>Adding your verified Maltz English SET Certificate™ to your profile can get you up to 6 times more views on LinkedIn, the world's largest professional network.</p>
        </li><br />
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>Does Maltz English  SET test all four skills?</h3>
            <p>YES! listening, reading, speaking and writing skills are assessed by the Maltz English SET tests.</p>
        </li><br />
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>Who should take the test?</h3>
            <p>All English learners, regardless of how they are currently learning English, or their level should use the Maltz English SET. Every learner can benefit from a trustworthy way to measure current proficiency level and mark progress over time.</p>
        </li><br />
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>How the certificate looks like?</h3>
            <p><a href="cert/h4T3o" target="_blan">Click this link</a> to view the certificate.</p>
        </li><br />
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>How can I upload the certificate to my LinkedIn profile?</h3>
            <p>You will find the detailed instructions <a href="cert/h4T3o">right here.</a></p>
        </li><br />
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>How it works?</h3>
            <p>
		<ol>1. <strong>Schedule</strong> your assessment.</ol>
		<ol>2. <strong>Prepare</strong> for your assessment by completing the pre-assessement quiz. </ol>
                <ol>3. Enter the <strong>assessemnt</strong> virtual classroom from your student account.</ol>
                <ol>4. <strong>Answer</strong> the questions.</ol>
                <ol>5. Review your <strong>assessment report</strong> from the progress report page of your student account.</ol>
		<ol>6. <strong>Upload</strong> your certificate to your LinkedIn account.</ol>
                <ol>7. (Optional) <strong>Signup</strong> for a course to reach the next level.</ol>
Check <a href="#">this video instruction</a> to view the complete process.</p>
        </li><br />
        <li>
                <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
                <h3>What happens after the assessment?</h3>
            <p>You will receive a lesson plan based on your level and a clear path to the next level. Each lesson plan includes a monthly assessement to evaluate whether the educational goals and standards of the lessons are being met.</p>
	    <p>You will be able to monitor your progress from the <strong>progress report</strong> page of your student account.</p>
        </li><br />
    </ul>
    </div>
</div>

{{.Inner}}
