<div class="page-header-test">
    <div class="page-header-test_bg">
        <div class="page-header-test_bg_img"></div>
        <div class="container">
            <h1>Learn English Online with<br /><font color="#FFBE01">EasySpeak</font> by BLI <br /></h1>
            
            <div>
                <a href="https://languagepanel.com/bli/callback/" target="_blank" class="btn btn--free-eval"><strong>
                    FREE EVALUATION</strong>
                </a>
            </div>
            <div class="row justify-content-md-center text-center text-md-left">
                <div class="col-md-auto pr-0">
                    <i class="fas fa-3x fa-certificate"></i>
                </div>
                <div class="col col-md-3 mb-3">
                    Certified teaching accredited by the world’s main institutions
                </div>
                <div class="col-md-auto pr-0">
                    <i class="fab fa-3x fa-linkedin"></i>
                </div>
                <div class="col col-md-3">
                     One of LinkedIn’s top ranked certifications
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Why should you learn online with EasySpeak?</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
    <ul class="why-study fa-ul">
        <li>
                <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                <h3>Individual classes with experienced teachers</h3>
                <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                <h3>Keep improving your English skills after your course at BLI</h3>
                <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                <h3>Get yourself prepared before coming to South Africa</h3>
                <span class="fa-li" ><i class="far fa-check-circle"></i></span>
                <h3>General English or Business English</h3>
            </li><br />
        <li>
            <p>The Bay Language Institute (BLI) has had great student success with English courses at our Port Elizabeth school.</p>
            <p>However, we understand that traveling to South Africa and undertaking an immersive English course may not be possible to some.</p>
            <p>Because of this, BLI is proud to introduce EasySpeak, an online English course component available to student’s worldwide. </p>
            <p>All you need is a computer and access to the internet to benefit from the EasySpeak’s online courses. </p>
            <p>And lessons are flexible and easily manageable to fit in your personal schedule. </p>
        </li><br />
        <li>
            <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
            <h3>How does it work?</h3>
            <p>EasySpeak’s online English courses are 25-minute private lessons with one of our certified and experienced, native speaking teachers. </p>
            <p>Lessons are personalized towards your needs and learning goals, can be purchased in affordable monthly packages and are easily scheduled at a time based on your time zone and most convenient to you.</p>
        </li><br />
        <li>
            <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
            <h3>Lesson content</h3>
            <p>Online lesson content depends on you! Skills are assessed by the teacher and lessons are then modified to attend to your weaknesses and needs to meet your language goals. </p>
            <p>Lessons can range anywhere from basic skills such as grammar, vocabulary, and listening to more advanced skills such as pronunciation and conversation. </p>
            <p>No books are required, the teacher can share materials via screenshare/e-mail with you and learn virtually in a private classroom.</p>
        </li><br />
        <li>
            <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
            <h3>Get yourself prepared before coming to South Africa</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </li><br />
        <li>
            <span class="fa-li" ><i class="fas fa-arrow-circle-right"></i></span>
            <h3>General English or Business English</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        </li>
    </ul>
    </div>
</div>

{{.Inner}}
