<div class="referrals--tablet">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <img class="w-75 h-50 d-none d-md-inline" src="/img/laptop-phone-bg2.png" />
            <img class="w-75 h-75 d-block d-md-none" src="/img/mobile-home2.png" />
        </div>
    </div>    
</div>
<div class="referrals">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3 text-center referral-box">
                <h3>Certified by</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">16</div>
                    Institutions
                </div>
                <p>Certified teaching accredited by the world’s main institutions.</p>
            </div>
            <div class="col-md-3 text-center referral-box">
                <h3>Trusted by</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">130</div>
                    Schools
                </div>
                <p>Education ministries, universities and schools around the world.</p>
            </div>
            <div class="col-md-3 text-center referral-box">
                <h3>Accredited by</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">12</div>
                    ESL organizations
                </div>
                <p>Certified teaching accredited by the world’s main institutions.</p>
            </div>
        </div>
    </div>
</div>
{{.Inner}}
