<div class="referrals--tablet">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <img class="w-75 h-50" src="/img/laptop-phone-bg.png" />
        </div>
    </div>    
</div>
<div class="referrals">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3 text-center referral-box">
                <h3>Trusted by over</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">500</div>
                    Schools
                </div>
                <p>Education ministries, universities and schools around the world are using the EF SET to survey thousands of students.</p>
                <a class="btn btn btn--bg">Test your students</a>
            </div>
            <div class="col-md-3 text-center referral-box">
                <h3>Trusted by over</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">500</div>
                    Schools
                </div>
                <p>Education ministries, universities and schools around the world are using the EF SET to survey thousands of students.</p>
                <a class="btn btn btn--bg">Test your students</a>
            </div>
            <div class="col-md-3 text-center referral-box">
                <h3>Trusted by over</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">500</div>
                    Schools
                </div>
                <p>Education ministries, universities and schools around the world are using the EF SET to survey thousands of students.</p>
                <a class="btn btn btn--bg">Test your students</a>
            </div>
        </div>
    </div>
</div>
{{.Inner}}
