<div class="referrals--tablet">
    <div class="container pt-5 pb-5">
        <div class="row justify-content-center">
            <img class="w-75 h-50 d-none d-md-inline" src="/img/laptop-phone-bg2.png" />
            <img class="w-75 h-75 d-block d-md-none" src="/img/mobile-home2.png" />
        </div>
    </div>    
</div>
<div class="referrals">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3 text-center referral-box">
                <h3>Step:</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">#1</div>
		ASSESS
                </div>
                <p>Schedule your assessement and complete the pre-assessment quiz.</p>
            </div>
            <div class="col-md-3 text-center referral-box">
                <h3>Step:</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">#2</div>
                    STUDY
                </div>
                <p>Sign up for a personalized course with a clear path to the next level.</p>
            </div>
            <div class="col-md-3 text-center referral-box">
                <h3>Step:</h3>
                <div class="referral-box__border-object">
                    <div class="referral-box__num">#3</div>
                    IMPROVE!
                </div>
                <p>Upload your new CERF certificate to your LinkedIn account.</p>
            </div>
        </div>
    </div>
</div>
{{.Inner}}
